@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<div class="backgroundWhite">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info">Category List</h2>
        </div>

        <div class="col-3">
            <p>
                @*@Html.Partial("_CreateButtonPartial");*@
                @*<partial name="_CreateButtonPartial" />*@
                <a asp-area="Identity" asp-page="/Account/register" class="btn btn-info"><i class="fas fa-plus-square"></i> &nbsp; Create New Employee </a>

            </p>
        </div>
    </div>

    <br />

    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(m => m.Name)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.Email)</th>
                        <th scope="col">@Html.DisplayNameFor(m => m.PhoneNO)</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>


                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>

                            <td>@Html.DisplayFor(m => item.Name)</td>
                            <td>@Html.DisplayFor(m => item.Email)</td>
                            <td>@Html.DisplayFor(m => item.PhoneNO)</td>
                            <td><a asp-action="Lock" class="btn btn-success text-white" asp-route-id="@item.Id"><i class="fas fa-lock-open"></i></a></td>

                        </tr>
                    </tbody>
                }

            </table>
        }
        else
        {
            <p>No Category Exists</p>
        }

    </div>
</div>